.picture-block {
  padding-top: 59px;
  background-image: url('pics/hotels/cheap-flights-avialinks.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    color: red;
  }
}

.photo1 {
  padding-top: 159px;
  border: 1px solid red;
  background-image: url('pics/hotels/cheap-flights-avialinks.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  // margin: 0;
  // padding: 0;

}
