.main-text {
  background: #f5f7f9;
  padding: 20px 0;
  box-shadow: rgba(37, 42, 49, 0.16) 0px 0px 2px 0px, rgba(37, 42, 49, 0.12) 0px 2px 4px 0px; }

#text-wrapper {
  width: 50%;
  padding: 40px;
  background: #ffffff; }
  @media (max-width: 768px) {
    #text-wrapper {
      width: 98%; } }
  #text-wrapper h2, #text-wrapper h3 {
    color: #262a31;
    letter-spacing: 0.6px; }
  #text-wrapper h2 {
    font-size: 39px; }
    @media (max-width: 768px) {
      #text-wrapper h2 {
        font-size: 20px; } }
  #text-wrapper h3 {
    margin-top: 32px;
    font-size: 20px; }
  #text-wrapper table {
    border-collapse: collapse; }
  #text-wrapper table, #text-wrapper tr, #text-wrapper th, #text-wrapper td {
    border: 1px solid #4aa692;
    font-weight: 400;
    padding: 8px; }
  #text-wrapper th {
    background: #4aa692;
    color: #ffffff; }
  #text-wrapper tr:nth-child(even) {
    background-color: #f5f7f9; }
  #text-wrapper th {
    padding: 7px; }
  #text-wrapper p {
    line-height: 20pt;
    text-align: justify;
    margin-top: 27px;
    color: #262a31; }
    #text-wrapper p a {
      color: #262a31;
      text-decoration: underline; }
    #text-wrapper p a:hover {
      cursor: pointer;
      color: #4aa692;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
  #text-wrapper ul {
    margin-top: 24px; }
    #text-wrapper ul li {
      list-style-type: decimal;
      color: #262a31;
      padding-bottom: 8px;
      text-align: justify; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }

header {
  position: fixed;
  height: 60px;
  background: #ffffff;
  width: 100%;
  box-shadow: rgba(37, 42, 49, 0.16) 0px 0px 2px 0px, rgba(37, 42, 49, 0.12) 0px 2px 4px 0px; }

.header-wrapper {
  margin: 0;
  padding: 18px 0;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 770px) {
    .header-wrapper {
      margin: auto 15px auto 15px; } }
  @media (max-width: 767px) {
    .header-wrapper {
      display: flex; } }
  .header-wrapper .logo-block {
    align-self: center;
    flex-grow: 7; }
    .header-wrapper .logo-block .hotels {
      margin-left: 15px;
      color: #262a31;
      text-decoration: none;
      cursor: pointer;
      font-weight: 500;
      padding: 0; }
      .header-wrapper .logo-block .hotels:hover, .header-wrapper .logo-block .hotels:focus, .header-wrapper .logo-block .hotels:active {
        outline: none;
        cursor: pointer;
        color: #4aa692;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
    .header-wrapper .logo-block img {
      width: 12em; }
      @media (max-width: 450px) {
        .header-wrapper .logo-block img {
          width: 9em; } }
  .header-wrapper .right-block {
    display: flex;
    flex-grow: 3;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .header-wrapper .right-block {
        display: flex;
        align-items: center; } }
    .header-wrapper .right-block .navigation-block {
      background: #ffffff;
      color: #262a31;
      border: 0;
      text-decoration: none;
      cursor: pointer;
      font-weight: 500;
      padding: 0; }
      .header-wrapper .right-block .navigation-block:hover, .header-wrapper .right-block .navigation-block:focus, .header-wrapper .right-block .navigation-block:active {
        outline: none;
        cursor: pointer;
        color: #4aa692;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
    .header-wrapper .right-block .dropbtn {
      outline: none;
      color: #262a31;
      background: #ffffff;
      font-size: 16px;
      border: none;
      cursor: pointer; }
    .header-wrapper .right-block .dropbtn:hover, .header-wrapper .right-block .dropbtn:focus {
      color: #4aa692;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    @media (min-width: 771px) {
      .header-wrapper .right-block .dropdown span.icon {
        display: none; }
      .header-wrapper .right-block .dropdown span.text {
        display: inline-block; } }
    @media (max-width: 770px) {
      .header-wrapper .right-block .dropdown span.icon {
        display: inline-block;
        padding-right: 7px; }
      .header-wrapper .right-block .dropdown span.text {
        display: none; } }
    .header-wrapper .right-block .dropdown button {
      background: #ffffff;
      color: #262a31;
      border: 0;
      text-decoration: none;
      cursor: pointer;
      font-weight: 500;
      padding: 0; }
      .header-wrapper .right-block .dropdown button:hover, .header-wrapper .right-block .dropdown button:focus, .header-wrapper .right-block .dropdown button:active {
        outline: none;
        color: #4aa692;
        background: #ffffff;
        border: 0 !important;
        box-shadow: 0 !important;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
    .header-wrapper .right-block .dropdown img {
      width: 20px;
      height: 20px;
      margin-right: 5px; }
    .header-wrapper .right-block .dropdown .dropdown-menu {
      background-color: #ffffff;
      min-width: 160px;
      margin-left: -40px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border: 0; }
      .header-wrapper .right-block .dropdown .dropdown-menu a {
        color: #262a31;
        padding: 12px 16px;
        text-decoration: none; }
      .header-wrapper .right-block .dropdown .dropdown-menu a:hover {
        background-color: #4aa692;
        color: #ffffff;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
    .header-wrapper .right-block .social {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 0; }
      @media (max-width: 767px) {
        .header-wrapper .right-block .social {
          display: none; } }
      .header-wrapper .right-block .social li {
        padding: 0 5px; }
        .header-wrapper .right-block .social li i {
          color: #4aa692; }
        .header-wrapper .right-block .social li i:hover {
          cursor: pointer;
          color: #327163;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
    .header-wrapper .right-block .hamburger-side-menu {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #ffffff;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      overflow-x: hidden;
      transition: 0.5s;
      padding: 15px 10px 0 0;
      display: flex;
      flex-direction: column; }
      .header-wrapper .right-block .hamburger-side-menu a {
        color: #262a31;
        padding: 12px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-weight: 500; }
        .header-wrapper .right-block .hamburger-side-menu a:hover {
          color: #4aa692;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
      .header-wrapper .right-block .hamburger-side-menu .link {
        min-width: 220px; }
      .header-wrapper .right-block .hamburger-side-menu .closebtn {
        display: flex;
        align-self: flex-end;
        font-size: 16px;
        color: #4aa692;
        cursor: pointer; }
        .header-wrapper .right-block .hamburger-side-menu .closebtn:hover {
          color: #2b5f54;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
        .header-wrapper .right-block .hamburger-side-menu .closebtn i {
          font-size: 24px;
          color: #4aa692; }
      .header-wrapper .right-block .hamburger-side-menu .social-side {
        padding: 10px 0 0 0;
        display: none; }
        .header-wrapper .right-block .hamburger-side-menu .social-side li {
          list-style-type: none; }
        @media (max-width: 767px) {
          .header-wrapper .right-block .hamburger-side-menu .social-side {
            display: flex; } }
    .header-wrapper .right-block .hamburgerButton {
      background: #ffffff;
      color: #262a31;
      border: 0;
      text-decoration: none;
      cursor: pointer;
      font-weight: 500;
      padding: 0; }
      .header-wrapper .right-block .hamburgerButton:hover, .header-wrapper .right-block .hamburgerButton:focus, .header-wrapper .right-block .hamburgerButton:active {
        outline: none;
        color: #4aa692;
        background: #ffffff;
        border: 0 !important;
        box-shadow: 0 !important;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
    @media screen and (max-height: 450px) {
      .header-wrapper .right-block .hamburger-side-menu {
        padding-top: 15px; }
      .header-wrapper .right-block .hamburger-side-menu a {
        font-size: 18px; } }

.error-wrapper {
  display: flex; }
  .error-wrapper img {
    width: 140px;
    margin: 40px 40px 40px 0; }
    @media (max-width: 767px) {
      .error-wrapper img {
        display: none; } }
  .error-wrapper .error-message-block p {
    margin: 20px auto; }
  .error-wrapper .error-message-block a {
    background: #4aa692;
    color: #ffffff;
    border: 1px solid #4aa692;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    padding: 6px; }
    .error-wrapper .error-message-block a:hover {
      color: #4aa692;
      background: #ffffff;
      border: 1px solid #4aa692;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }

.main {
  padding-top: 59px; }

/*# sourceMappingURL=styles.css.map */
